@import "tailwindcss";

@theme {
  --color-txt: #000000;
  --color-background-primary: #ffffff;
  --color-background-secondary: #F3F3F3;
  --color-strokes-primary: #D4D4D4;
  --color-strokes-secondary: #E6E6E6;
  --color-error: #F00000;
  --color-primary-stroke: #838383;
}
